In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.DataFrame([[90, 60, 33], [50, 70, 75], [70, 90, 88], [80, 50, 60]],index=['Simon','Allen','Jimmy','Peter'],columns = ['Math', 'English', 'History'])
df

       Math  English  History
Simon    90       60       33
Allen    50       70       75
Jimmy    70       90       88
Peter    80       50       60

In [5]:
#取出數學>60 且英文>85 的資料, 並以DataFrame的方式呈現
df[df["Math"]>60] 
df[df["English"]>85]

       Math  English  History
Jimmy    70       90       88

In [6]:
#計算各科的平均數
df.mean()

Math       72.5
English    67.5
History    64.0
dtype: float64

In [13]:
#依各科分數來個別排名
df.rank(ascending=False)

       Math  English  History  Gender
Simon   1.0      3.0      4.0     2.0
Allen   4.0      2.0      2.0     4.0
Jimmy   3.0      1.0      1.0     2.0
Peter   2.0      4.0      3.0     2.0

In [7]:
#新增性別資料
#Gender = ['M'.'F','M','M']
df["Gender"]=["M","F","M","M"]
df

       Math  English  History Gender
Simon    90       60       33      M
Allen    50       70       75      F
Jimmy    70       90       88      M
Peter    80       50       60      M

In [8]:
#性別的類別各出現幾次？
df.loc[:,'Gender'].value_counts()

M    3
F    1
Name: Gender, dtype: int64

In [9]:
#算出每位同學的平均分數，再用平均分數排名
df1=df.mean(axis=1)
df1

Simon    61.000000
Allen    65.000000
Jimmy    82.666667
Peter    63.333333
dtype: float64

In [12]:
df1.rank(ascending=False)

Simon    4.0
Allen    2.0
Jimmy    1.0
Peter    3.0
dtype: float64